.highlight {
    @include do-space(margin-top, lg); 
    @include do-space(margin-bottom, lg); 
	
	background-color: $underlay-grey;
	
	padding: 1rem;
}

.hljs-string {
	color: $red;
}

pre {
    margin: 0;
}

//Default behaviour is for code to scroll, using this class wraps it with the box.
.wrap-code {
  overflow: hidden; // Ensure no scrolling
}

.wrap-code pre {
  white-space: pre-wrap; // Allow code to wrap
  word-break: break-word; // Break long words if necessary
  overflow: hidden; // Ensure no scrolling within pre
}

