/* Adding styles to right-nav to cater for wordpress walker mark-up */
.right-nav {
    #list {
		h4, h6 {
			margin: 0;
			/* Make this look like default text */
			
			font-family: $font-family-sans-serif;
			@include type-default;
			font-weight: 400;
			
			a {
				display: inline-block;
				width: 100%;   
				padding: 0.75rem 1.5rem 0.75rem 3rem;
			}
		}
		
		.sidebar-indent {
			
			li a {
            	padding-left: 5.25rem;
			} 

			li.selected {
				padding-left: 5rem;   //less 0.25rem to account for border
			}
			
			.current_page_item a {
				 padding-left: 5rem;  //less 0.25rem to account for border
			}
		}
	}
    
    .current_page_item > a {
		border-left: 0.25rem solid $red;
		background-color: $underlay-selected;
		padding-left: 2.75rem;	//less 0.25rem to account for border
	}
    
    /* nested lists - extend padding */
    ul > li > ul {  
        li a {
            padding-left: 5.25rem;
        } 
        
        li.selected {
            padding-left: 5rem;   //less 0.25rem to account for border
        }
		
		.current_page_item a { padding-left: 5rem; }	 //less 0.25rem to account for border
		
    }
}

.dropdown-menu.show {
    background-color: $rmit-blue;
}

/* Wordpress plugin used for breadcrumbs - styles to reflect design system */
.aioseo-breadcrumbs {
	color: $dark-grey;
	@include type-small;

	@include do-space(margin-bottom, sm);
	
	a {
		color: $dark-grey;
	}
	
	.aioseo-breadcrumb-separator {
		padding-left: 0.25rem;
		padding-right: 0.5rem;
	}
	
	/* At small and x-small breakpoints, only show the last breadcrumb due to space constraints */
	
	@include media-breakpoint-down(md) { 
		span {
			display: none;
		}
		
		span:last-child { 
			display: inline;
		}
		
		span:last-child::before { 
			content: '<';
			padding-right: 0.5rem;
		}
	}
	
} 