<!-- Start theme switcher -->
<form class="theme-switch theme-compact theme-right-nav">
    <h2>Theme</h2>
    <div class="bg">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" data-bs-theme-value="auto" value="option1">
        <label class="form-check-label" for="inlineRadio1">System</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" data-bs-theme-value="light" value="option2">
        <label class="form-check-label" for="inlineRadio2">Light</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" data-bs-theme-value="dark" value="option3">
        <label class="form-check-labe" for="inlineRadio3">Dark</label>
      </div>
    </div>
</form>
<!-- End theme switcher -->
