<!-- ******************* The Navbar Area ******************* -->
<!--
<div id="wrapper-navbar" itemscope itemtype="http://schema.org/WebSite">
    <a class="skip-link visually-hidden-focusable" href="#theme-main">Skip to content</a>

    <nav class="navbar-expand-none top-nav" aria-label="Main Navigation" >
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <div class="top-nav-left">
                        <div class="rmit-logo"></div>
                        <h2><a href="/dewey-design/">Learning Lab</a></h2>
                    </div> 
                </div>
                <div class="col">       
                    <ul>
                        <li class="hide-sm">
                        <a href="https://www.rmit.edu.au/library">Library</a>
                    </li>
                    <li class="search">
                        <a href="">
                            <div class="hide-sm">Search</div>
                            <div class="mag-glass"></div>
                        </a>
                    </li>
                        <li><button id="menu-button" class="btn btn-primary collapsed navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-expanded="false" aria-controls="navbarNavDropdown">Click for main menu</button></li>
                    </ul>
                </div>   
            </div>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    menu content here??                 
            </div> 
        </div>
    </nav>
</div>
-->
<!-- #wrapper-navbar end -->
<div id="wrapper-navbar" itemscope itemtype="http://schema.org/WebSite">
    <a class="skip-link visually-hidden-focusable" href="#theme-main">Skip to content</a>
    
<nav data-bs-theme class="navbar navbar-expand-none bg-primary"  aria-label="Main Navigation">
        <div class="blue-bar"></div>
        <div class="container">
            <div class="top-nav-left">
                <div class="rmit-logo"></div>
                <h2><a href="/dewey-design/">Learning lab</a></h2>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation" id="menu-button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul id="menu-main-nav" class="navbar-nav me-auto mb-2 mb-md-0 "><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown nav-item nav-item-4210"><a href="https://ll-style.blackaeonium.net/art-and-design/" class="nav-link  dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Art and design</a>
<ul class="dropdown-menu  depth_0">
	<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-4228"><a href="https://ll-style.blackaeonium.net/art-and-design/artist-statement/" class="dropdown-item ">Artist statement</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-4218"><a href="https://ll-style.blackaeonium.net/art-and-design/artist-statement/artist-statement-formats/" class="dropdown-item ">Artist statement: formats</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-4217"><a href="https://ll-style.blackaeonium.net/art-and-design/artist-statement/artist-statement-examples/" class="dropdown-item ">Artist statement: examples</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown nav-item nav-item-4212 dropend dropdown-menu-end"><a href="https://ll-style.blackaeonium.net/art-and-design/artist-statement/artist-statement-writing-process/" class="dropdown-item  dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Artist statement: writing process</a>
	<ul class="dropdown-menu sub-menu  depth_1">
		<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-4215"><a href="https://ll-style.blackaeonium.net/art-and-design/artist-statement/artist-statement-writing-process/artist-statement-writing-tutorial/" class="dropdown-item ">Artist statement: writing tutorial</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-4216"><a href="https://ll-style.blackaeonium.net/art-and-design/artist-statement/artist-statement-writing-process/artist-statement-mind-mapping/" class="dropdown-item ">Artist statement: mind mapping</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-4214"><a href="https://ll-style.blackaeonium.net/art-and-design/artist-statement/artist-statement-writing-process/artist-statement-vocabulary-tips/" class="dropdown-item ">Artist statement: vocabulary tips</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-4213"><a href="https://ll-style.blackaeonium.net/art-and-design/artist-statement/artist-statement-writing-process/artist-statement-editing/" class="dropdown-item ">Artist statement: editing</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-4211"><a href="https://ll-style.blackaeonium.net/art-and-design/artist-statement/artist-statement-resources/" class="dropdown-item ">Artist statement: useful resources</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown nav-item nav-item-4219"><a href="https://ll-style.blackaeonium.net/maths-statistics/" class="nav-link  dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Maths and statistics</a>
<ul class="dropdown-menu  depth_0">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown nav-item nav-item-4220 dropend dropdown-menu-end"><a href="https://ll-style.blackaeonium.net/maths-statistics/algebra/" class="dropdown-item  dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Algebra</a>
	<ul class="dropdown-menu sub-menu  depth_1">
		<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-4231"><a href="https://ll-style.blackaeonium.net/maths-statistics/algebra/a11-algebraic-operations/" class="dropdown-item ">A1.1 Algebraic operations</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-4221"><a href="https://ll-style.blackaeonium.net/maths-statistics/algebra/a12-algebraic-substitution/" class="dropdown-item ">A1.2 Algebraic substitution</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-4232"><a href="https://ll-style.blackaeonium.net/maths-statistics/algebra/a11-algebraic-operations/a13-removing-brackets/" class="dropdown-item ">A1.3 Removing brackets</a></li>
	</ul>
</li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown nav-item nav-item-4222"><a href="https://ll-style.blackaeonium.net/writing-and-assessments/essays/" class="nav-link  dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Essays</a>
<ul class="dropdown-menu  depth_0">
	<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-4227"><a href="https://ll-style.blackaeonium.net/writing-and-assessments/essays/writing-essay/" class="dropdown-item ">Writing an essay</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-4225"><a href="https://ll-style.blackaeonium.net/writing-and-assessments/essays/plan-and-research/" class="dropdown-item ">Plan and research</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-4224"><a href="https://ll-style.blackaeonium.net/assignments/getting-started-with-assignments/researching-your-assignment/understand-assignment-task/" class="dropdown-item ">Understand the assignment task</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-4223"><a href="https://ll-style.blackaeonium.net/assignments/getting-started-with-assignments/researching-your-assignment/" class="dropdown-item ">Researching your assignment</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-4230"><a href="https://ll-style.blackaeonium.net/assignments/getting-started-with-assignments/starting-my-first-assignment/" class="dropdown-item ">Starting my first assignment</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-4226"><a href="https://ll-style.blackaeonium.net/analyse-task/" class="dropdown-item ">Analyse the task</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-4229"><a href="https://ll-style.blackaeonium.net/academic-word-list-tool/" class="dropdown-item ">Academic word list tool</a></li>
</ul>
</li>
</ul>
                
                
            </div> <!-- .collapse -->
        </div> <!-- .container -->
    </nav>
</div>