<!--
<nav class="right-nav" aria-label="Section Menu">
    <h2><a href="">Section</a></h2>
    <h3><a href="">Subsection</a></h3>
    <ul>
        <li>
            <a href="">Content page</a>
            <ul>
                <li class="selected">Content subpage</li>
                <li><a href="">Content subpage</a></li>
                <li><a href="">Content subpage</a></li>
            </ul>
        </li>
        <li><a href="">Content page</a></li>
        <li><a href="">Content page</a></li>
        <li><a href="">Content page</a></li>
        <li><a href="">Content page</a></li>
    </ul>
</nav>
-->

<!--<nav class="right-nav" aria-label="Section Menu">
    <h2><a href="">Assessments</a></h2>
    <h3><a href="">Getting started with assignments</a></h3>
    <ul>
		<li><a href="">Starting your first assigment</a></li>
        <li>
            <a href="">Researching your assignment</a>
            <ul>
                <li class="selected">Understand your topic</li>
                <li><a href="">Develop your search strategy</a></li>
                <li><a href="">Meanings of instructional words</a></li>
            </ul>
        </li>
        <li><a href="">Find the information</a></li>
        <li><a href="">Choose valid sources</a></li>
        <li><a href="">Analysing an argument</a></li>
		<li><a href="">Preparing for assessment</a></li>
    </ul>
</nav>-->
<div class="wrapper" id="wrapper-main-sidebar">		
<section>
<nav class="right-nav" aria-label="Section Menu">	
	<h2 class="sidebar-nv"><a href="/assignments">Assignments</a></h2>
	<h3 class="sidebar-nv"><a href="/getting-started-with-assignments">Getting started with assignments</a></h3>
	
	<div id="list">
		<h4 class="sidebar-nv"><a href="/researching-your-assignment">Researching your assignment</a></h4>
		<ul class="sidebar-indent">
			<li class="page_item page-item-2926"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/researching-your-assignment/search-process/"><div class="child_item">The search process</div></a></li>
			<li class="page_item page-item-2913"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/researching-your-assignment/understand-assignment-task/"><div class="child_item">Understand the assignment task</div></a></li>
			<li class="page_item page-item-2914 current_page_item"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/researching-your-assignment/understand-your-topic/" aria-current="page"><div class="child_item">Understand your topic</div></a></li>
			<li class="page_item page-item-2915"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/researching-your-assignment/develop-your-search-strategy/"><div class="child_item">Develop your search strategy</div></a></li>
			<li class="page_item page-item-3306"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/researching-your-assignment/meanings-instructional-words/"><div class="child_item">Meanings of instructional words</div></a></li>
		</ul>
	</div>
</nav>
</section>
</div>


<!--
<hr />

<div class="wrapper" id="wrapper-main-sidebar">		
<section>
<nav class="right-nav" aria-label="Section Menu">	
	<h2 class="sidebar-nv"><a href="/assignments">Nav 3 WP</a></h2>
	<h3 class="sidebar-nv"><a href="/getting-started-with-assignments">Getting started with assignments</a></h3>
	
	<div id="list">
		<h4 class="sidebar-nv"><a href="/researching-your-assignment">Researching your assignment</a></h4>
		<ul class="sidebar-indent">
			<li class="page_item page-item-2926"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/researching-your-assignment/search-process/"><div class="child_item">The search process</div></a></li>
			<li class="page_item page-item-2913"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/researching-your-assignment/understand-assignment-task/"><div class="child_item">Understand the assignment task</div></a></li>
			<li class="page_item page-item-2914"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/researching-your-assignment/understand-your-topic/"><div class="child_item">Understand your topic</div></a></li>
			<li class="page_item page-item-2915"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/researching-your-assignment/develop-your-search-strategy/"><div class="child_item">Develop your search strategy</div></a></li>
			<li class="page_item page-item-3306"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/researching-your-assignment/meanings-instructional-words/"><div class="child_item">Meanings of instructional words</div></a></li>
		</ul>
	</div>
</nav>
</section>
</div>

<hr />

<div class="wrapper" id="wrapper-main-sidebar">		
<section>
<nav class="right-nav" aria-label="Section Menu">	
<h2 class="sidebar-nv"><a href="/assignments">Assignments</a></h2><h3 class="sidebar-nv"><a href="/getting-started-with-assignments">Getting started with assignments</a></h3><div id="list"><ul><li class="page_item page-item-2519"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/starting-my-first-assignment/"><div class="child_item">Starting my first assignment</div></a></li>
<li class="page_item page-item-2929 page_item_has_children"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/researching-your-assignment/"><div class="child_item">Researching your assignment</div></a>
<ul class="children">
	<li class="page_item page-item-2926"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/researching-your-assignment/search-process/"><div class="child_item">The search process</div></a></li>
	<li class="page_item page-item-2913"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/researching-your-assignment/understand-assignment-task/"><div class="child_item">Understand the assignment task</div></a></li>
	<li class="page_item page-item-2914"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/researching-your-assignment/understand-your-topic/"><div class="child_item">Understand your topic</div></a></li>
	<li class="page_item page-item-2915"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/researching-your-assignment/develop-your-search-strategy/"><div class="child_item">Develop your search strategy</div></a></li>
	<li class="page_item page-item-3306"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/researching-your-assignment/meanings-instructional-words/"><div class="child_item">Meanings of instructional words</div></a></li>
</ul>
</li>
<li class="page_item page-item-2916 page_item_has_children current_page_item"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/find-information/" aria-current="page"><div class="child_item">Find the information</div></a>
<ul class="children">
	<li class="page_item page-item-2927"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/find-information/web/"><div class="child_item">The web</div></a></li>
	<li class="page_item page-item-2917"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/find-information/librarysearch/"><div class="child_item">LibrarySearch</div></a></li>
	<li class="page_item page-item-2918"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/find-information/print-books/"><div class="child_item">Print books</div></a></li>
	<li class="page_item page-item-2919"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/find-information/electronic-and-av-resources/"><div class="child_item">Electronic and AV resources</div></a></li>
	<li class="page_item page-item-2920"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/find-information/databases/"><div class="child_item">Databases</div></a></li>
</ul>
</li>
<li class="page_item page-item-2921 page_item_has_children"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/choose-valid-sources/"><div class="child_item">Choose valid sources</div></a>
<ul class="children">
	<li class="page_item page-item-2925"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/choose-valid-sources/why-cant-i-just-google-it/"><div class="child_item">Why can’t I just Google it?</div></a></li>
	<li class="page_item page-item-2922"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/choose-valid-sources/what-scholarly-information/"><div class="child_item">What is scholarly information?</div></a></li>
	<li class="page_item page-item-2923"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/choose-valid-sources/evaluate-information-sources/"><div class="child_item">Evaluate information sources using CRAAP</div></a></li>
	<li class="page_item page-item-2924"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/choose-valid-sources/do-i-have-enough-information/"><div class="child_item">Do I have enough information?</div></a></li>
	<li class="page_item page-item-2928"><a href="https://ll-nav.blackaeonium.net/assignments/getting-started-with-assignments/choose-valid-sources/am-i-research-ready/"><div class="child_item">Am I research ready?</div></a></li>
</ul>
</li>
</ul></div></nav>
</section>			
</div>

<hr />


<div class="wrapper" id="wrapper-main-sidebar">		
<section>
<nav class="right-nav" aria-label="Section Menu">	
	<h2 class="sidebar-nv"><a href="/art-and-design">Art and design</a></h2>
	<h3 class="sidebar-nv"><a href="/artist-statement">Artist statement</a></h3>
	<div id="list">
		<ul>
			<li class="page_item page-item-3090"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-formats/" aria-current="page">Formats</a></li>
			<li class="page_item page-item-3091 page_item_has_children current_page_item"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-examples/">Examples</a>
				<ul class="children">
					<li class="page_item page-item-3111"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-examples/artist-statement-1-gunshydesign/">@gun_shy_design</a></li>
					<li class="page_item page-item-3112"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-examples/artist-statement-2-carly-fischer/">Carly Fischer</a></li>
				</ul>
			</li>
			<li class="page_item page-item-3092 page_item_has_children"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-writing-process/">Writing process</a>
				<ul class="children">
					<li class="page_item page-item-3095"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-writing-process/artist-statement-mind-mapping/">Mind mapping</a></li>
					<li class="page_item page-item-3098"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-writing-process/artist-statement-writing-tutorial/">Writing tutorial</a></li>
					<li class="page_item page-item-3101 page_item_has_children"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-writing-process/artist-statement-vocabulary-tips/">Vocabulary tips</a></li>
					<li class="page_item page-item-3104"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-writing-process/artist-statement-editing/">Editing</a></li>
				</ul>
			</li>
			<li class="page_item page-item-3105"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-resources/">Useful resources</a></li>
		</ul>
	</div>
</nav>
</section>			
</div>

<hr />

<div class="wrapper" id="wrapper-main-sidebar">		
<section>
<nav class="right-nav" aria-label="Section Menu">	
<h2 class="sidebar-nv"><a href="/art-and-design">Art and design</a></h2><h3 class="sidebar-nv"><a href="/artist-statement">Artist statement</a></h3><div id="list"><ul><li class="page_item page-item-3090"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-formats/">Formats</a></li>
<li class="page_item page-item-3091 page_item_has_children current_page_item"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-examples/" aria-current="page">Examples</a>
<ul class="children">
	<li class="page_item page-item-3111"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-examples/artist-statement-1-gunshydesign/">@gun_shy_design</a></li>
	<li class="page_item page-item-3112"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-examples/artist-statement-2-carly-fischer/">Carly Fischer</a></li>
</ul>
</li>
<li class="page_item page-item-3092 page_item_has_children"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-writing-process/">Writing process</a>
<ul class="children">
	<li class="page_item page-item-3095"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-writing-process/artist-statement-mind-mapping/">Mind mapping</a></li>
	<li class="page_item page-item-3098"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-writing-process/artist-statement-writing-tutorial/">Writing tutorial</a></li>
	<li class="page_item page-item-3101 page_item_has_children"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-writing-process/artist-statement-vocabulary-tips/">Vocabulary tips</a></li>
	<li class="page_item page-item-3104"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-writing-process/artist-statement-editing/">Editing</a></li>
</ul>
</li>
<li class="page_item page-item-3105"><a href="https://ll-nav.blackaeonium.net/art-and-design/artist-statement/artist-statement-resources/">Useful resources</a></li>
</ul></div></nav>
</section>			
</div>

-->