<nav>
<a href="#main-content" class="visually-hidden">Skip to main content</a>
<div class="top-nav">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="top-nav-left">
                    <div class="rmit-logo"></div>
                    <h2><a href="/dewey-design/">Learning lab</a></h2>
                </div> 
            </div>
            <div class="col">       
                <ul>
					<li class="hide-sm">
						<a href="https://www.rmit.edu.au/library">Library</a>
					</li>
					<li class="search">
						<a href="/search/">
							<div class="hide-sm">Search</div>
							<div class="mag-glass"></div>
						</a>
					</li>
					<li class="menu">
						<button id="menu-button" 
						class="btn btn-primary collapsed" type="button" data-bs-toggle="collapse" 
						data-bs-target="#nav-menu" aria-expanded="false" 
						aria-controls="nav-menu">Click for main menu</button>
					</li>
                </ul> 
            </div>   
        </div>
    </div>
</div>
<div id="nav-menu" class="collapse"  aria-label="Main Menu">
    <div class="container nav-container not-wordpress">
        <div class="row ">
            <!-- START menu -->
            <div class="col-xl-8">  
                <!-- START Accordions -->
                <div class="accordion accordion-white" id="accordionExample2">
                <!-- START Item One -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="whiteHeadingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whiteCollapseOne" aria-expanded="false" aria-controls="whiteCollapseOne">
                        University essentials
                      </button>
                    </h2>
                    <div id="whiteCollapseOne" class="accordion-collapse collapse" aria-labelledby="whiteHeadingOne">
                        <div class="accordion-body">
                            <!-- START content --> 
							<ul>
								<li><a href="">Academic integrity</a></li>
								<li><a href="">Artifical intelligence</a></li>
								<li><a href="">Critical thinking</a></li>
								<li><a href="">Getting started with uni</a></li>
								<li><a href="">Group work</a></li>
								<li><a href="">Improve your english</a></li>
								<li><a href="">Study essentials</a></li>
								<li><a href="">Sustainability</a></li>
							</ul>                  
                            <!-- END content -->
                        </div>
                    </div>
                  </div>
                <!-- END Item One -->
                <!-- START Item Two -->
                <div class="accordion-item">
                <h2 class="accordion-header" id="whiteHeadingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whiteCollapseTwo" aria-expanded="false" aria-controls="whiteCollapseTwo">
                    Writing fundamentals
                  </button>
                </h2>
                <div id="whiteCollapseTwo" class="accordion-collapse collapse" aria-labelledby="whiteHeadingTwo">
                  <div class="accordion-body">
                    	<!-- START content --> 
						<ul>
							<li><a href="">Academic style</a></li>
							<li><a href="">Academic word lists</a></li>
							<li><a href="">Paragraph structure</a></li>
							<li><a href="">Spelling tips</a></li>
							<li><a href="">Understanding your audience</a></li>
							<li><a href="">Writing sentences</a></li>
							<li><a href="">Writing for coursework</a></li>
							<li><a href="">Writing for the workplace</a></li>
							<li><a href="">Writing paragraphs</a></li>
						</ul>                  
                    	<!-- END content -->
                </div>  
                </div>
                </div>
                <!-- END Item Two -->
                <!-- START Item Three -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="whiteHeadingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whiteCollapseThree" aria-expanded="false" aria-controls="whiteCollapseThree">
                        Assignments
                      </button>
                    </h2>
                    <div id="whiteCollapseThree" class="accordion-collapse collapse" aria-labelledby="whiteHeadingThree">
                        <div class="accordion-body">
                            <!-- START content --> 
							<ul>
								<li><a href="">Academic reflections </a></li>
								<li><a href="">Annotated bibliographies</a></li>
								<li><a href="">Case studies</a></li>
								<li><a href="">Essays</a></li>
								<li><a href="">Getting started with assignment</a></li>
								<li><a href="">Literature reviews</a></li>
								<li><a href="">Presentations</a></li>
								<li><a href="">Reports</a></li>
							</ul>             
                            <!-- END content -->
                        </div>
                    </div>
                  </div>
                <!-- END Item Three -->
                <!-- START Item Four -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="whiteHeadingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whiteCollapseFour" aria-expanded="false" aria-controls="whiteCollapseFour">
                        Referencing
                      </button>
                    </h2>
                    <div id="whiteCollapseFour" class="accordion-collapse collapse" aria-labelledby="whiteHeadingFour">
                        <div class="accordion-body">
                            <!-- START content --> 
							<ul>
								<li><a href="">What is referencing?</a></li>
								<li><a href="">Understanding citations</a></li>
								<li><a href="">When referencing isn't needed</a></li>
								<li><a href="">Quoting</a></li>
								<li><a href="">Paraphrasing</a></li>
								<li><a href="">Summarising</a></li>
								<li><a href="">Synthesising</a></li>
								<li><a href="">Integrating ideas with reporting words</a></li>
								<li><a href="">Referencing with Easy Cite</a></li>
								<li><a href="">Getting help with referencing</a></li>
							</ul>             
                            <!-- END content -->
                        </div>
                    </div>
                  </div>
                <!-- END Item Four -->
                <!-- START Item Five -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="whiteHeadingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whiteCollapseFive" aria-expanded="false" aria-controls="whiteCollapseFive">
                        Subject support
                      </button>
                    </h2>
                    <div id="whiteCollapseFive" class="accordion-collapse collapse" aria-labelledby="whiteHeadingFive">
                        <div class="accordion-body">
                            <!-- START content --> 
							<ul>
								<li><a href="">Art</a></li>
								<li><a href="">Chemistry</a></li>
								<li><a href="">Legal studies</a></li>
								<li><a href="">Life sciences</a></li>
								<li><a href="">Maths</a></li>
								<li><a href="">Nursing</a></li>
							</ul>
                            <!-- END content -->
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- END Item Five -->
                </div>
                <!-- END Accordions -->
            </div>
            <!-- END menu -->
        </div>
</div>
</nav>