<!doctype html>
<!-- Ideally class nav-fixed would be applied to the html tag of the wordpress site -->
<html dir="ltr" lang="en-US" prefix="og: https://ogp.me/ns#" class="nav-fixed">
<head>
    <!-- meta partial contains charset, viewport, seo etc. -->
    {{ partial "meta.html" . }}
    {{ partial "style.html" . }}
</head>
<body class="page-template page-template-page-templates page-template-page-sidebar-right page-template-page-templatespage-sidebar-right-php page page-id-2516 page-parent page-child parent-pageid-2500 wp-embed-responsive picostrap_header_navbar_position_ picostrap_header_navbar_color_choice_" >
<!-- Top navigation and menu -->

{{ partial "top-nav.html" }}
<main id="theme-main">
<div class="container" id="page-content">

    <!-- FUSE script --> 
    <script src="https://cdn.jsdelivr.net/npm/fuse.js"></script>
    
    <div class="col-xl-8">
        <nav aria-label="breadcrumbs">
        <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        </ul>
        </nav>
        <a id="main-content"></a>
        
        <h1 class="margin-top-zero">Search the learning lab</h1>
        <!-- START search input --> 
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Search..."><button class="wbtn wbtn-primary" id="searchButton"><span class="icon"></span> <span class="visually-hidden">Search</span></button>
        </div> 
        <!-- END search input --> 
        <!-- START debug -->
        <div id="search-debug" class="search-debug">
            <div>            
                <!-- START debug -->
                <label for="threshold">
                    <a href="https://www.fusejs.io/api/options.html#threshold" target="docs">Threshold:</a>
                </label>
                <input type="number" id="threshold" min="0" max="1" step="0.05" value="0.6">
                </div>
                <div>
                    <label for="distance">
                        <a href="https://www.fusejs.io/api/options.html#distance" target="docs">Distance:</a>
                    </label>
                    <input type="number" id="distance" min="0" max="10000" step="50" value="1200">
                </div>
                <div>
                    <label for="location">
                        <a href="https://www.fusejs.io/api/options.html#location" target="docs">Location:</a>
                    </label>
                    <input type="number" id="location" min="0" max="10000" step="50" value="0">
                </div>
                <div>
                    <label for="minMatchCharLength" class="small">
                        <a href="https://www.fusejs.io/api/options.html#minmatchcharlength" target="docs">Min Match Char Length:</a>
                    </label>
                    <input type="number" id="minMatchCharLength" min="1" max="100" step="1" value="2">
                </div>
                <div>
                <label for="useExtendedSearch" class="small">
                    <a href="https://www.fusejs.io/api/options.html#useextendedsearch" target="_blank">Use Extended Search:</a>
                </label>
                <input type="checkbox" id="useExtendedSearch">
            </div>
        </div>
        <!-- END debug -->
        <!-- START loading div -->
        <div id="loading-container">
            <h2>Searching... </h2>
        </div>
        <!-- END loading div -->
        <!-- START results div -->
        <div id="results-container" class="collapse">
            <div>
                <h2 id="results-title" tabindex="0">Search results</h2>
                <p id="results-counter" class="small"></p>
                <ul class="list-link-expanded" id="results"></ul> 
                <p>
                    <a href="#searchInput">Search again</a>
                </p> 
            </div>   
        </div>
        <!-- END results div -->
    <hr>
        <h2>Browse keywords</h2>
        <p class="keyword-intro">These pages of similar topics aim to make it quicker and easier to find the content you need. Select any keyword to see all pages linked to that specific term.</p>
        </div>
    <!-- END col-xs-8 -->
    <div class="col-xl-12">
        <div class="keyword-listing">
            <section>
                <h2>A</h2>
                <ul>
                    <li><a href="#">Acids and bases</a></li>
                    <li><a href="#">Active learning</a></li>
                    <li><a href="#">Active reading</a></li>
                    <li><a href="#">AGLC4</a></li>
                    <li><a href="#">Algebra</a></li>
                    <li><a href="#">Analysis</a></li>
                    <li><a href="#">Annotated bibliography</a></li>
                    <li><a href="#">APA</a></li>
                    <li><a href="#">Architecture</a></li>
                    <li><a href="#">Arithmetic</a></li>
                    <li><a href="#">Art</a></li>
                    <li><a href="#">Artificial intelligence</a></li>
                    <li><a href="#">Artist statement</a></li>
                    <li><a href="#">Assessment</a></li>
                    <li><a href="#">Assignment planning</a></li>
                    <li><a href="#">Assignments</a></li>
                    <li><a href="#">Atomic Structures</a></li>
                    <li><a href="#">Atoms</a></li>
                    <li><a href="#">Audio</a></li>
                </ul>
            </section>
            
            <section>
                <h2>B</h2>
                <ul>
                    <li><a href="#">Basic skills</a></li>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Business Law</a></li>
                </ul>
            </section>
            
            <section>
                <h2>C</h2>
                <ul>
                    <li><a href="#">Case notes</a></li>
                    <li><a href="#">Case studies</a></li>
                    <li><a href="#">Checklists</a></li>
                    <li><a href="#">Chemical bonding</a></li>
                    <li><a href="#">Chemical bonds</a></li>
                    <li><a href="#">Chemical equations</a></li>
                    <li><a href="#">Chemistry</a></li>
                    <li><a href="#">Chemistry exercises</a></li>
                    <li><a href="#">Chemists</a></li>
                    <li><a href="#">Citation</a></li>
                    <li><a href="#">Coding</a></li>
                    <li><a href="#">Colour Theory</a></li>
                    <li><a href="#">Company Law</a></li>
                    <li><a href="#">Complex numbers</a></li>
                    <li><a href="#">Concentrations</a></li>
                    <li><a href="#">Concept Maps</a></li>
                    <li><a href="#">Conclusion</a></li>
                    <li><a href="#">Construction</a></li>
                    <li><a href="#">Contract law</a></li>
                    <li><a href="#">Covalent bonds</a></li>
                    <li><a href="#">Critical incident</a></li>
                    <li><a href="#">Critical reading</a></li>
                    <li><a href="#">Critical thinking</a></li>
                    <li><a href="#">Critical writing</a></li>
                </ul>
            </section>
        </div>
    </div>
    <!-- END col-xs-12 -->
</div>
<!-- END container -->
</main>
<script>
    var dataURL = '/data/pages.json';
    var debug = false;
    
    //Check query string for debug=true. If it is there, show debug interface
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const debugBool = urlParams.get('debug');
    
    if(debugBool == 'true') {
        debug = true;
        
        var debugInterface = document.getElementById("search-debug");
        debugInterface.style.display = "block";
    }
    
    console.log("debugBool: "+ debugBool);
    
    // Fetch the JSON data
    fetch(dataURL)
        .then(response => response.json())
        .then(data => {
            function performSearch() {
                
                var query = document.getElementById('searchInput').value;
                console.log("query: " +query);

                var threshold = 0.6;
                var distance = 1200;
                var location = 0;
                var useExtendedSearch = false;
                var minMatchCharLength = 2;
                
                if(debug == true)
                {
                    threshold = parseFloat(document.getElementById('threshold').value);
                    distance = parseInt(document.getElementById('distance').value, 10);
                    location = parseInt(document.getElementById('location').value, 10);
                    useExtendedSearch = document.getElementById('useExtendedSearch').checked;
                    minMatchCharLength = parseInt(document.getElementById('minMatchCharLength').value, 10);
                }

                const options = {
                    keys: ['title', 'content'], // Specify the fields to search
                    threshold: threshold,
                    distance: distance,
                    location: location,
                    minMatchCharLength: minMatchCharLength,
                    includeScore: true,
                    includeMatches: true,
                };

                // START if to avoid blank queries
                if(query != "")
                {
                    const fuse = new Fuse(data, options);
                    const results = fuse.search(query);
                    const resultsList = document.getElementById('results');
                    resultsList.innerHTML = '';

                    const resultsCounter = document.getElementById('results-counter');

                    if(results.length == 0) {
                        resultsCounter.innerHTML = 'No results found.';
                    }
                    else if(results.length == 1) {
                        resultsCounter.innerHTML = results.length +' result found.'; 
                    }
                    else {
                        resultsCounter.innerHTML = results.length +' results found.';
                    }
                    
                    results.forEach(function(result) {
                        var title = result.item.title;
                        var content = result.item.content;
                        var link = result.item.link;
                        var snippet = getSnippet(content, query);
                        var score = result.score.toFixed(2); // Get format the score
                        var matches = result.matches; // Get matches
                        var keywords = result.item.keywords;
                        
                        //only output result if keywords doesn't contain "documentation"
                        if (keywords && !keywords.some(keyword => keyword.toLowerCase() === "documentation")) {
                            var li = document.createElement('li');

                            var itemOutput = '<a href="' + link + '"><h3 class="text">' + title + '</h3></a><p>' + snippet + '</p>';
                            if(debug == true) itemOutput += '<p class="small">Score: ' + score +" &nbsp;&nbsp;&nbsp;&nbsp;Matches: " + matches +"</p>";

                            li.innerHTML = itemOutput;
                            resultsList.appendChild(li);
                        }
                    });
                    
                    // Select the element
                    var collapseElement = document.getElementById('results-container');

                    // Create a new Bootstrap Collapse instance
                    var collapseInstance = new bootstrap.Collapse(collapseElement, {
                        toggle: false // Prevents automatic toggle
                    });

                    // Use the show method to expand
                    collapseInstance.show();
                    document.getElementById("results-title").focus();
                }
                //END if to avoid blank queries
            }

            function getSnippet(content, query) {
                // Return the first 160 characters if the query is empty
                if (!query) return content.substring(0, 160);

                // Find the index of the query in the content, case-insensitive
                var index = content.toLowerCase().indexOf(query.toLowerCase());

                // If the query is found
                if (index !== -1) {
                    // Determine the start position for the snippet
                    var start = Math.max(0, index - 80);

                    // Try to find the start of a sentence or a space
                    var sentenceStart = content.lastIndexOf('.', start) + 1;
                    var spaceStart = content.lastIndexOf(' ', start) + 1;

                    // Choose the maximum of sentenceStart or spaceStart if they are within limits
                    if (sentenceStart > start - 80) start = sentenceStart;
                    else if (spaceStart > start - 80) start = spaceStart;

                    // Determine the end position for the snippet
                    var end = Math.min(content.length, index + 80);

                    // Extract the snippet from the content
                    var snippet = content.substring(start, end).trim();

                    // Escape special characters in the query for regex
                    var escapedQuery = query.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');

                    // Create a regex to highlight the query in the snippet
                    var regex = new RegExp('(' + escapedQuery + ')', 'gi');

                    // Highlight the query in the snippet
                    snippet = snippet.replace(regex, '<span class="highlight-1">$1</span>');

                    return snippet;
                }

                // If the query is not found, return the first 160 characters
                return content.substring(0, 160);
            }

            // Listen for button click
            document.getElementById('searchButton').addEventListener('click', performSearch);

            // Listen for enter key
            document.getElementById('searchInput').addEventListener('keypress', function(event) {
                if (event.key === 'Enter') {
                    performSearch();
                }
            });
        })
        .catch(function(error) {
            console.error('Error fetching JSON:', error);
        });
</script>
<!-- The footer partial outside the page-content div is an issue for the design system hamburger menu, mabe not not for WordPress site??? -->    
{{ partial "footer.html" . }}
{{ partial "script-style.html" . }}
</body>
</html>
